$white: #FFFFFF;
$black: #000000;
$dark-grey: #444;

$pink: #d2696a;
$purple: #7e2b7c;
$turquoise: #189184;
$yellow: #FBC002;
$red: #b20000;
$orange: #F48400;
$green: #81b442;


$background-color: #dbc5b0;
$text-color: $dark-grey;
$link-color: $turquoise;
$link-hover-color: $purple;

$border-color: #f0e7df;

$font-family-base:'Roboto Condensed', sans-serif;
$font-family-headlines:'BebasNeue', sans-serif;
$font-size-base: 1em;
$font-size-h1: 5em;